@import url("https://fonts.googleapis.com/css?family=Montserrat|PT+Sans");

header {
  font-family: serif;
  font-size: 10px;
  text-align: center;
  color: #0F257D;
}

h1 {
  padding-left: 20px;
}

nav {
  display: none;
}

#resumecontact {
  margin: 0;
  list-style-type: none;
  display: inline-block;
}

#resumecontact li {
  display: inline-block;
  border: 3px solid black;
  color: black;
}


body {
  font-family: serif;
  font-size: 9px;
}

h2 {
  border-bottom: 1px solid #222;
}

li a {
  text-decoration: none;
  color: black;
}

#honors {
  float: left;
  width: 40%;
}

#skills {
  float: right;
  width: 40%;
  border-left: 1px solid #222;
  padding: 0 50px;
}

#skills1 {
  text-align: center;
}

#honors1 {
  text-align: center;
}

#odyssey {
  display: none;
}

#coursework {
  display: none;
}

#education {
  margin-top: 10px;
}
