@import url('https://fonts.googleapis.com/css?family=Lato|Proza+Libre');

header {
  font-family: 'Proza Libre', sans-serif;
  font-size: 20px;
  text-align: center;
  color: #0F257D;
}

h1 {
  padding-left: 20px;
}

#contact {
  margin: 0;
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
}

#contact li {
  display: inline-block;
  margin: 2px;
  border: 3px solid #E6E6FA;
  color: #0B5393;
}

#contact a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  color: #0B5393;
}

#contact a:hover {
  color: #8F39A9;
  background-color: #E6E6FA;
}

body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  position: relative;
}

.nav ul {
  text-align: center;
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  border: 2px solid #DAD9E5;
  background-color: #DAD9E5;
}

.nav li {
  display: inline-block;
  margin-right: 16px;
}

.nav a {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  color: #095AAB;
}

.nav a:visited {
  color: #0F257D;
}

.nav a:hover {
  color: #8F39A9;
}

#container {
  max-width: 800px;
  margin: 0 auto;
  min-width: 500px;
}

h2 {
  border-bottom: 1px solid #222;
}

li a {
  text-decoration: none;
  color: #7BCDDE;
}

li a:visited {
  color: #6F63C0;
}

li a:hover {
  color: #8F39A9;
}

#honors {
  float: left;
  width: 40%;
}

#honors li {
  list-style-type: none;
  padding: 8px;
}

#skills {
  float: right;
  width: 40%;
  border-left: 1px solid #222;
  padding: 0 50px;
}

#skills1 {
  text-align: center;
}

#honors1 {
  text-align: center;
}
